* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(177, 170, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}









.contactForm {
    /* background-color: rgba(238, 7, 76, 0.705);
    background-color: #d90368; */
    background-color: #d90367e0;
    border-radius: 35px;
    padding: 30px;
    background: rgb(255, 0, 120);
    background: radial-gradient(circle, rgba(255, 0, 120, 1) 0%, rgba(232, 0, 108, 0.6922969016708246) 100%);


}

.detailsCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
}

.detailsCard img {
    width: 50%;

}

.cardContainer img {
    /* width: 280px; */
    height: 174px;
}

.cardContainer {
    /* height: 100vh; */

}



#title {
    color: rgb(29, 33, 94);
    background: radial-gradient(circle, rgba(252, 97, 170, 1) 36%, rgba(255, 50, 145, 1) 100%);
}

.notFound {
    /* width: 50%; */
    /* height: 100%; */
    /* display: flex;
    justify-content: center; */

}